<h2>Assets </h2>
<h4>Add data in the following fields to register your assets</h4>

<form class="formwidth" (ngSubmit)="onSubmit()" >
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="halfwidth">
          <input matInput placeholder="Asset Name"  id="assetName" [(ngModel)]="test.asset_name" name="assetName">
        </mat-form-field>
        <mat-form-field class="fullwidth">
          <input matInput placeholder="Asset ID" id="assetID" [(ngModel)]="test.asset_id" name="assetID">
        </mat-form-field>

      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="fullwidth">
          <input matInput placeholder="Batch ID"  id="batchID" [(ngModel)]="test.batch_id" name="batchID">
        </mat-form-field>

        <mat-form-field class="fullwidth">
          <input matInput placeholder="Serial ID" id="serialID" [(ngModel)]="test.serial_id" name="serialID">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Manufacturing Date" [(ngModel)]="test.mfc_date" name="mfcDate" id="mfcDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-form-field>
          <mat-select placeholder="Participant type" >
            <mat-option *ngFor="let user of types" value="user[1]">{{user[1]}}</mat-option>
            <mat-option *ngFor="let user of types" value="user[2]" disabled="">{{user[2]}}</mat-option>
            <mat-option *ngFor="let user of types" value="user[3]" disabled="">{{user[3]}}</mat-option>
            <mat-option *ngFor="let user of types" value="user[4]" disabled="">{{user[4]}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>

  </table>
  <mat-divider></mat-divider>
<h4>Add default attribute</h4>
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="halfwidth">
          <input matInput placeholder="Attribute ID"  id="attribute_id" [(ngModel)]="test.attribute_id" name="attribute_id">
        </mat-form-field>
        <mat-form-field class="fullwidth">
          <input matInput placeholder="Name" id="attribute_name" [(ngModel)]="test.attribute_name" name="attribute_name">
        </mat-form-field>

      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="fullwidth">
          <input matInput placeholder="Value"  id="attribute_value" [(ngModel)]="test.attribute_value" name="attribute_value">
        </mat-form-field>

        <mat-form-field class="fullwidth">
          <input matInput placeholder="Unit" id="attribute_unit" [(ngModel)]="test.attribute_unit" name="attribute_unit">
        </mat-form-field>
      </td>
    </tr>
  </table>


  <mat-divider></mat-divider>
  <p><button type="submit" mat-raised-button> Post Asset Data </button></p>



</form>

