<h2>Assets </h2>
<h4>Add data in the following fields to register your assets</h4>

<form class="formwidth" (ngSubmit)="onSubmit()" >
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-form-field>
          <mat-select placeholder="Role" id="roleName" name="roleName" >
            <mat-option value="Manufacturer">Manufacturer</mat-option>
            <mat-option value="Logistics" disabled="">Logistics</mat-option>
            <mat-option value="Distributor" disabled="">Distributor</mat-option>
            <mat-option value="Retailer" disabled="">Retailer</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-select placeholder="Asset" id="assetID" name="assetID" >
            <mat-option value="Manufacturer">Manufacturer</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>

  </table>
  <mat-divider></mat-divider>
  <h4>Add default attribute</h4>
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="halfwidth">
          <input matInput placeholder="Attribute ID"  id="attribute_id" [(ngModel)]="test.attribute_id" name="attribute_id">
        </mat-form-field>
        <mat-form-field class="fullwidth">
          <input matInput placeholder="Name" id="attribute_name" [(ngModel)]="test.attribute_name" name="attribute_name">
        </mat-form-field>

      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="fullwidth">
          <input matInput placeholder="Value"  id="attribute_value" [(ngModel)]="test.attribute_value" name="attribute_value">
        </mat-form-field>

        <mat-form-field class="fullwidth">
          <input matInput placeholder="Unit" id="attribute_unit" [(ngModel)]="test.attribute_unit" name="attribute_unit">
        </mat-form-field>
      </td>
    </tr>
  </table>


  <mat-divider></mat-divider>
  <p><button type="submit" mat-raised-button> Put Attribute Data </button></p>



</form>

