<h2>Put Attributes </h2>
<h4>Add data in the following fields to add new attribute(s)</h4>

<form class="formwidth" (ngSubmit)="onSubmit()" >
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="halfwidth">
          <input matInput placeholder="Role ID"  id="firstname" [(ngModel)]="test.role_id" name="firstname">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Role" [(ngModel)]="test.role_name" id="roleName" name="roleName">
            <mat-option>None</mat-option>
            <mat-option value="Manufacturer">Manufacturer</mat-option>
            <mat-option value="Logistics">Logistics</mat-option>
            <mat-option value="Distributor">Distributor</mat-option>
            <mat-option value="Retailer">Retailer</mat-option>
          </mat-select>
        </mat-form-field>

      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="fullwidth">
          <input matInput placeholder="Participant ID"  id="city" [(ngModel)]="test.participant_id" name="city">
        </mat-form-field>

        <mat-form-field class="fullwidth">
          <input matInput placeholder="Participant Name" id="state" [(ngModel)]="test.participant_name" name="state">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="fullwidth">
          <input matInput placeholder="Bank Name"  id="bank" [(ngModel)]="test.bank_name" name="bank">
        </mat-form-field>

        <mat-form-field class="fullwidth">
          <input matInput placeholder="Bank Branch" id="branch" [(ngModel)]="test.bank_branch" name="branch">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="fullwidth">
          <input matInput placeholder="Bank Account Number"  id="acc" [(ngModel)]="test.bank_acc_no" name="acc">
        </mat-form-field>

        <mat-form-field class="fullwidth">
          <input matInput placeholder="IFSC Code" id="ifsc" [(ngModel)]="test.bank_ifsc" name="ifsc">
        </mat-form-field>
      </td>
    </tr>
  </table>
  <p><button type="submit" mat-raised-button> Post Data Function </button></p>

</form>
