
<h2>Participants</h2>
<h4>Manage the details of all participants in your network.</h4>


<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table
         [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
    <!--ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container-->
    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="username">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> User Name </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> E-Mail </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across al``l columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">
            <div class="example-element-position"> {{element.id}} </div>
            <div class="example-element-symbol"> {{element.name}} </div>
            <div class="example-element-name"> {{element.username}} </div>
            <div class="example-element-weight"> {{element.email}} </div>
          </div>
          <div class="example-element-description">
            {{element.name}}
            <span class="example-element-description-attribution"> -- Wikipedia </span>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<div>
  <mat-form-field>
    <mat-select placeholder="MyUsers">
      <mat-option *ngFor="let user of characters" [value]="user.id">
        {{user.username}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <mat-selection-list>
    <mat-list-option *ngFor="let user of characters">
      {{user.username}} <br>  {{user.email}}
    </mat-list-option>
  </mat-selection-list>
</div>
