<h2>Asset</h2>
<h4>View Asset details and related attributes</h4>


<div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let element of ELEMENT_DATA">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Asset Name
        </mat-panel-title>
        <mat-panel-description *ngFor="let element of ELEMENT_DATA">
          Asset Key: {{element.assetKey}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list role="list">
        <mat-list-item  role="listitem">Manufacturing Date: {{element.mfcDate}}</mat-list-item>
        <mat-list-item  role="listitem">ID: {{element.id}}</mat-list-item>
        <mat-list-item  role="listitem">Serial ID: {{element.serialId}}</mat-list-item>
        <mat-list-item  role="listitem">Batch ID: {{element.batchId}}</mat-list-item>



          <mat-expansion-panel *ngFor="let element2 of element.participantAttribs">
            <mat-expansion-panel-header>Participant ID: {{element2.participantId}}</mat-expansion-panel-header>
            <mat-panel-description>Click to view attributes by date created</mat-panel-description>



            <mat-expansion-panel *ngFor="let element3 of element2.attribcontainers">
                <mat-expansion-panel-header>Date Modified: {{element3.time.slice(0,10)}}</mat-expansion-panel-header>
                <mat-panel-description>Attributes List</mat-panel-description>

                <mat-expansion-panel *ngFor="let element4 of element3.attributes">
                  <mat-expansion-panel-header>Attribute Name: {{element4.name}}</mat-expansion-panel-header>
                  <mat-list role="list2">
                    <mat-list-item  role="listitem2">ID: {{element4.id}}</mat-list-item>
                    <mat-list-item  role="listitem2">Value: {{element4.value}}</mat-list-item>
                    <mat-list-item  role="listitem2">Unit: {{element4.unit}}</mat-list-item>
                  </mat-list>
                </mat-expansion-panel>
              <!--<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element4 of element3.attributes"> {{element4.name}} </td>
                </ng-container>
                <ng-container matColumnDef="value">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef> Value </th>
                  <td mat-cell *matCellDef="let element4 of element3.attributes"> {{element4.value}} </td>
                </ng-container>
                <ng-container matColumnDef="unit">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef> Unit </th>
                  <td mat-cell *matCellDef="let element4 of element3.attributes"> {{element4.unit}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>-->

              </mat-expansion-panel>

          </mat-expansion-panel>


      </mat-list>
    </mat-expansion-panel>

  </mat-accordion>
</div>
