<h2>Participants </h2>
<h4>Add data in the following fields to register your participant</h4>

<!--<p>
  test-app works!
</p>
<input type="text" (keyup)="onNameKeyUp($event)">
<button (click)="getProf()">Get</button>
<button (click)="getProf3()">SearchDataFromAPI</button>

<br><br><br>
&lt;!&ndash;input type="text" (keyup)="onNameKeyUp($event)"&ndash;&gt;
<button (click)="getProf2()">GetDataFromAPI</button>

&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;
<br><br><br>-->
<form class="formwidth" (ngSubmit)="onSubmit()" >
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="halfwidth">
          <input matInput placeholder="Role ID"  id="firstname" [(ngModel)]="test.role_id" name="firstname">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Role" [(ngModel)]="test.role_name" id="roleName" name="roleName">
            <mat-option *ngFor="let user of types" value="user[1]">{{user[1]}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="fullwidth">
          <input matInput placeholder="Participant ID"  id="city" [(ngModel)]="test.participant_id" name="city">
        </mat-form-field>

        <mat-form-field class="fullwidth">
          <input matInput placeholder="Participant Name" id="state" [(ngModel)]="test.participant_name" name="state">
        </mat-form-field>
      </td>
    </tr>
    <br>
    <h4>Add Bank Details</h4>

    <tr>
      <td>
        <mat-form-field class="fullwidth">
          <input matInput placeholder="Bank Name"  id="bank" [(ngModel)]="test.bank_name" name="bank">
        </mat-form-field>

        <mat-form-field class="fullwidth">
          <input matInput placeholder="Bank Branch" id="branch" [(ngModel)]="test.bank_branch" name="branch">
        </mat-form-field>
      </td>
    </tr>
    <tr>
    <td>
      <mat-form-field class="fullwidth">
        <input matInput placeholder="Bank Account Number"  id="acc" [(ngModel)]="test.bank_acc_no" name="acc">
      </mat-form-field>

      <mat-form-field class="fullwidth">
        <input matInput placeholder="IFSC Code" id="ifsc" [(ngModel)]="test.bank_ifsc" name="ifsc">
      </mat-form-field>
    </td>
  </tr>
  </table>
  <p><button type="submit" mat-raised-button> Post Data Function </button></p>

</form>

