
<h2>Participants Two: CALL OF THE API</h2>
<h4>Manage the details of all participants in your network.</h4>


<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" >
  </mat-form-field>
  <table mat-table
         [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
    <!--ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container-->
    <ng-container matColumnDef="roleName">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Role Name </th>
      <td mat-cell *matCellDef="let element"> {{element.role.role}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Participant Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="roleID">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Role ID </th>
      <td mat-cell *matCellDef="let element"> {{element.role.id}} </td>
    </ng-container>
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[20, 5, 10]" showFirstLastButtons></mat-paginator>
</div>

