nav {
  background: black;

  height: 100%;
  padding-top: 30px;


  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {

      p {
        font: 100% Helvetica, sans-serif;
        font-size: 13px;
        color: #F2F2F2;
        display:flex;justify-content:center;align-items:center;
        padding-bottom: 30px;
        text-decoration: none;
      }
      a {
        margin-top: 0px;
        color: #fff;
        display:flex;justify-content:center;align-items:center;
      }




      .activated {
        background-color: #00a8ff;
      }
    }
  }

}
