
<nav>
  <ul>
    <li>
      <a routerLink="createParticipant" [class.activated]="currentUrl == 'createParticipant'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
      <p>Participants</p>
    </li>
    <li>
      <a routerLink="createAsset" [class.activated]="currentUrl == 'createAsset'">
        <i class="material-icons">leak_add</i>
      </a>
      <p>Assets</p>
    </li>
    <li>
      <a routerLink="attributes" [class.activated]="currentUrl == 'attributes'">
        <i class="material-icons">format_list_bulleted</i>
      </a>
      <p>Attributes</p>
    </li>
    <li>
      <a routerLink="getAsset" [class.activated]="currentUrl == 'getAsset'">
        <i class="material-icons">featured_play_list</i>
      </a>
      <p>List Asset Data</p>
    </li>
  </ul>
</nav>
