/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
h4{
  font-style: oblique;
}
body {
  margin: 0;
  background: #F2F2F2;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

#container {
  background-image: url('https://www.doublemesh.com/wp-content/uploads/2012/11/Subtle-Light-Tile-Pattern-3.jpg');
  display: grid;
  grid-template-columns: 120px auto;
  height: 100%;

  #content {
    padding: 30px 50px;

    ul {
      list-style-type: none;
      margin:0;padding:0;


      li {
        background: #fff;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 8px;

        a {
          font-size: 1em;
          text-decoration: none;
          font-weight: bold;
          color:#00A8FF;
        }


        ul {
          margin-top: 20px;

          li {
            padding:0;

            a {
              font-size: 1em;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}
